<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title> Développeur web Toulouse | {% block title %} {% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">

    </head>
    <link href="{{ asset('/Bootstrap/css/bootstrap.css') }}" rel="stylesheet"/>
    <script src="{{ asset('/Bootstrap/js/bootstrap.js') }}"></script>
    <body>
        <nav class="navbar navbar-expand-lg bg-body-tertiary" style="box-shadow: 0 0 2em grey;">
            <div class="container-fluid">
                <h1 class="navbar-brand">Navbar</h1>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Accueil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/contact">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/projet">Projet</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/article">Article</a>
                    </li>
                </ul>

                
                
                <div class="d-flex" role="search">

                    {% if app.user.username is defined %}

                        <a href='/logout'><input type='submit' class='btn btn-primary mx-1' value='Déconnexion'/></a>

                    {% else %}

                        <a href='/inscription'><input type='submit' class='btn btn-primary mx-1' value='Inscription'/></a>
                        <a href='/login'><input type='submit' class='btn text-primary mx-1' value='Connexion'/></a>

                    {% endif %}
                </div>
                </div>
            </div>
        </nav>

        <div class="body">
            <div class="container">
                {% block body %}
                {% endblock %}
            </div>
        </div>
    </body>
</html>
{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
{% endblock %}

{% block javascript %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}